defmodule <%= web_module %>.HomePage.ViewHomePageTest do
  use <%= web_module %>.FeatureCase, async: false

  feature "view home page", %{session: session} do
    visit(session, ~p"/")

    assert_has(session, Query.text("Phoenix Framework"))
  end
end
