defmodule <%= web_module %>.FeatureCase do
  use ExUnit.CaseTemplate

  using do
    quote do
<%= if with_ex_vcr? do %>
      use ExVCR.Mock, adapter: ExVCR.Adapter.Hackney
<% end %>
      use Wallaby.Feature
      use Mimic
      use <%= web_module %>, :verified_routes

      import <%= base_module %>.Factory
      import <%= web_module %>.Gettext

      alias <%= base_module %>.Repo
      alias <%= web_module %>.Endpoint

      @moduletag :feature_test
    end
  end
end
