defmodule <%= web_module %>.ErrorJSONTest do
  use <%= web_module %>.ConnCase, async: true

  alias <%= web_module %>.ErrorJSON

  test "renders 404" do
    assert ErrorJSON.render("404.json", []) == %{errors: [%{code: :not_found, detail: %{}, message: "Not Found"}]}
  end

  test "renders 500" do
    assert ErrorJSON.render("500.json", []) ==
      %{errors: [%{code: :internal_server_error, detail: %{}, message: "Internal Server Error"}]}
  end

  test "renders 500 when invalid error number" do
    assert ErrorJSON.render("99999.json", []) ==
      %{errors: [%{code: :internal_server_error, detail: %{}, message: "Internal Server Error"}]}
  end

  test "renders custom error message" do
    assert ErrorJSON.render("500.json", status: 500, message: "Something went wrong") ==
             %{
               errors: [
                 %{code: :internal_server_error, detail: %{}, message: "Something went wrong"}
               ]
             }
  end

  test "renders custom error code" do
    assert ErrorJSON.render("500.json", status: 500, code: :custom_error_code) ==
             %{
               errors: [
                 %{code: :custom_error_code, detail: %{}, message: "Internal Server Error"}
               ]
             }
  end
end
