defmodule <%= web_module %>.IconHelperTest do
  use <%= web_module %>.ConnCase, async: true

  import Phoenix.HTML, only: [safe_to_string: 1]

  alias <%= web_module %>.IconHelper

  describe "icon_tag/2" do
    test "renders a svg icon" do
      first_svg_icon =
        safe_to_string(IconHelper.icon_tag("active", class: "customize-icon-class"))

      second_svg_icon =
        safe_to_string(IconHelper.icon_tag("icon-lock"))

      assert first_svg_icon ==
               "<svg class=\"icon customize-icon-class\"><use xlink:href=\"/images/icon-sprite.svg#icon-priv--static--images--icons--active\"></svg>"

      assert second_svg_icon ==
               "<svg class=\"icon \"><use xlink:href=\"/images/icon-sprite.svg#icon-priv--static--images--icons--icon-lock\"></svg>"
    end
  end
end
