defmodule <%= web_module %>.RouterHelperTest do
  use <%= web_module %>.ConnCase, async: true

  alias <%= web_module %>.RouterHelper

  describe "health_path/0" do
    test "returns the `health_path` from the Application configuration" do
      assert RouterHelper.health_path() == "/_health"
    end
  end
end
