defmodule <%= web_module %>.LivenessRequestTest do
  use <%= web_module %>.ConnCase, async: true

  test "returns 200", %{conn: conn} do
    conn =
      get(
        conn,
        "#{Application.get_env(:<%= otp_app %>, <%= web_module %>.Endpoint)[:health_path]}/liveness"
      )

    assert response(conn, :ok) =~ "alive"
  end
end
