name: Apply Mix variant

on: push

jobs:
  standard_mix_project:
    name: Test on a Standard Mix project
    uses: ./.github/workflows/reusable_mix_project.yml@composite_2.0
    with:
      new_project_options: ""

  non-standard_mix_project:
    name: Test on a Non-Standard Mix project
    uses: ./.github/workflows/reusable_mix_project.yml@composite_2.0
    with:
      new_project_options: "--module=SampleCustomModule --app=sample_custom_app"
      
  standard_mix_supervision_project:
    name: Test on a Standard Supervision Mix project
    uses: ./.github/workflows/reusable_mix_project.yml@composite_2.0
    with:
      new_project_options: "--sup"

  non-standard_mix_supervision_project:
    name: Test on a Non-Standard Supervision Mix  project
    uses: ./.github/workflows/reusable_mix_project.yml@composite_2.0
    with:
      new_project_options: "--sup --module=SampleCustomModule --app=sample_custom_app"
